body      {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2       {
    color: #9900ff;
}
form      {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 470px;
    text-align: center;
    
}
.Fila1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}
.Fila2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.btn_enviar {
    display: flex;
    justify-content: start;
}
button {
    background-color: #1100ff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}