* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background: linear-gradient(135deg, #3d9dee, #ff93ae, #adc0e4, 100%);
    }

    .header {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    }

    h1 {
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 2.2rem;
    margin-bottom: 25px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    }

    body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://i.pinimg.com/736x/02/f2/64/02f2649eaa7743a8e0a117c3e0a386ee.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    }

    .container {
    width: 400px;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    transition: all 0.3s ease;
    }

    .container:hover {
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.5);
    }

    .container h2 {
    font-size: 2.2rem;
    margin-bottom: 25px;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    }

    .Campo-entrada {
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin: 25px 0;
    }
    
    .Campo-entrada label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.35s ease;
    }

    .Campo-entrada input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 0 8px;
    }

    .Campo-entrada input:focus ~ label,
    .Campo-entrada input:valid ~ label {
    font-size: 0.9rem;
    top: 10px;
    transform: translateY(-150%);
    color: #ffd4e1;
    }

    .recordar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #fff;
    }

    .recordar a {
    accent-color: #ffd4e1;
}

    .recordar label {
    display: flex;
    align-items: center;
    }

    .recordar label p {
    margin-left: 8px;
  }
  
  .recordar a {
    color: #ffd4e1;
    text-decoration: underline;
  }
  
  button {
    background-color: #271930;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
  }
  
  .registro {
    text-align: center;
    margin-top: 30px;
    color: #fff;
  }
  
  .footer {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .footer p {
    color: #fff;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  }
  