body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #353434;
    text-align: center;
    font-size: large;
    padding-top: 120px;
}
header {
    background: rgba(0, 122, 51, 0.8);
    color: #ffffff;
    padding: 15px 0;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #f4f4f4;
}

h1 {
    margin: 0;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.parallax {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    overflow: hidden;
}

.parallax::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.parallax * {
    position: relative;
    z-index: 2;
}

.parallax1 {
    background-image: url('img/laptop-614213_1280.jpg');
}

.service-item {
    background: transparent;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(60, 59, 59, 0.1);
    margin: 15px;
    padding: 10px;
    width: 250px;
    height: 250px;
}

.service-item h2 {
    color: #007A33;
}

img {
    width: 30%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #007A33;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
