.nav-bar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px); 
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    position: fixed;  
    top: 0;
    width: 100%;  
    z-index: 100;  
}


.nav-bar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-bar ul li {
    display: inline;
}

.nav-bar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease-in-out;
}


.nav-bar ul li a:hover {
    color: rgb(50, 50, 50);
    text-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
}

.nav-bar ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(150, 150, 150);
    transition: width 0.3s ease, left 0.3s ease;
}   

.nav-bar ul li a:hover::after {
    width: 100%;
    left: 0;
}